* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    color: white;
    background-image: linear-gradient(to right, teal, steelblue);
}

.logo {
    margin-right: 40px;
}

.btn-logo {
    font-size: 48px;
    color: white;
}

.con-header {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

.profile {
    font-size: 62px;
    margin-right: 40px;
    margin-left: 128px;
}

.connections {
    margin-left: auto;
    margin-right: 128px;
}

.btn-conn {
    text-decoration: none;
    color: teal;
}

.btn-profile {
    color: black;
}
